@use "src/globals/variables" as vars;

.app-radio-group {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        display: none;
    }

    label {
        position: relative;
        padding-left: 28px;
        margin-right: 60px;
        cursor: pointer;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid vars.$primary_color;
            border-radius: 100%;
            background: vars.$white;
        }

        &:after {
            content: '';
            width: 10px;
            height: 10px;
            background: vars.$primary_color;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }

        &.red {
            &:before {
                border-color: vars.$primary_red;
            }

            &:after {
                background: vars.$primary_red;
            }
        }

        &.orange {
            &:before {
                border-color: vars.$primary_orange;
            }

            &:after {
                background: vars.$primary_orange;
            }
        }
    }

    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    span {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
