<div class="app-radio-group">
    @for (option of options; track option.label) {
        <span>
            <input
                type="radio"
                [id]="name + option.label"
                [formControl]="control"
                [value]="option.value"
                [name]="name"
            />

            <label [class]="option.color" [for]="name + option.label">
                {{ option.label | translate }}
            </label>
        </span>
    }
</div>
