$xs: 400px;
$base_border_radius: 10px;
$white: #ffffff;
$primary_color: #2b53e1;
$primary_red: #F2565C;
$primary_orange: #EAA238;
$primary_gray: #AFB2BE;
$bg_color: #f8f8f8;
$black: #484848;

$base_shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);

$md_shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

$lg_shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

$hover_gradient: linear-gradient(90deg, rgba(73, 113, 255, 0.1) 0%, rgba(73, 113, 255, 0) 100%);
