.priority-option {
    &.red {
        cursor: cell;
        color: blue;

        .ant-radio-checked {
            .ant-radio-inner {
                border-color: purple !important;

                &::after {
                    background-color: purple;

                }
            }
        }

        .ant-radio:hover .ant-radio-inner {
            border-color: purple;
        }
    }

    &.orange {
        background-color: #EAA238;
    }

    &.blue {
        background-color: #4971FF;
    }
}
