<nz-modal
    [nzFooter]="null"
    [nzVisible]="isOpen$ | async"
    nzTitle="The first Modal"
    (nzOnCancel)="handleCancel()"
    (nzAfterOpen)="handleAfterOpen()"
    (nzAfterClose)="handleAfterClose()"
    nzWidth="756px"
>
    <ng-container *nzModalTitle>
        <span style="font-weight: 600">{{ "tasks.task-modal-title" | translate }}</span>
    </ng-container>
    <ng-container *nzModalContent>
        <form [formGroup]="form" (ngSubmit)="handleSubmit()" nz-form nzLayout="vertical" nzNoColon>
            <nz-row [nzGutter]="20">
                <nz-col [nzSpan]="8">
                    <nz-form-item>
                        <nz-form-label class="app-label" nzRequired nzFor="date">
                            {{ "inputs.date" | translate }}
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="errors">
                            <nz-date-picker
                                class="app-input"
                                formControlName="date"
                                nzSuffixIcon=""
                                [nzFormat]="'longDate'"
                            ></nz-date-picker>
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
                <nz-col [nzSpan]="16">
                    <nz-form-item>
                        <nz-form-label class="app-label" nzRequired nzFor="title">
                            {{ "inputs.title" | translate }}
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="errors">
                            <input
                                class="app-input"
                                formControlName="title"
                                id="title"
                                type="text"
                                nz-input
                                name="title"
                            />
                        </nz-form-control>
                    </nz-form-item>
                </nz-col>
            </nz-row>
            <nz-form-item>
                <nz-form-label class="app-label" nzFor="description">
                    {{ "inputs.description" | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="errors">
                    <textarea
                        nz-input
                        class="app-input"
                        style="min-height: 110px"
                        id="description"
                        type="text"
                        name="description"
                        formControlName="description"
                    ></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label class="app-label" nzRequired>
                    {{ "inputs.priority" | translate }}
                </nz-form-label>
                <app-radio-group
                    name="priority"
                    [control]="form.controls.priority"
                    [options]="priorityOptions"
                ></app-radio-group>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzRequired class="app-label" nzFor="userId">
                    {{ "inputs.assignee" | translate }}
                </nz-form-label>
                <nz-form-control [nzErrorTip]="errors">
                    <nz-select id="userId" formControlName="userId" [nzLoading]="usersLoading$ | async">
                        @for (option of users$ | async; track option.id) {
                            <nz-option [nzValue]="option.id" [nzLabel]="option.displayName"></nz-option>
                        }
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
            <nz-flex nzGap="small" *ngIf="(currentTask$ | async) === null">
                <button
                    [nzLoading]="taskSaving$ | async"
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    type="submit"
                    [disabled]="form.invalid"
                >
                    {{ "common.save" | translate }}
                </button>
                <button nz-button nzSize="large">
                    {{ "common.save-as-draft" | translate }}
                </button>
            </nz-flex>
        </form>
    </ng-container>
</nz-modal>
<ng-template #errors let-control>
    <app-validation-errors-renderer [control]="control"></app-validation-errors-renderer>
</ng-template>
