@use "src/globals/variables" as vars;

.priority-tag {
    padding: 6px 0;
    width: 110px;
    height: 34px;
    font-size: 1rem;
    text-align: center;
    display: block;
    border-radius: 50px;
}
