<div class="nav-content">
    <div class="nav-logo">
        <img src="assets/images/navbar-logo.svg" alt="logo" />
    </div>
    <ul class="nav-links">
        @for (link of links; track link.label) {
            <ng-component *ngTemplateOutlet="linkItem; context: { $implicit: link }"></ng-component>
        }
        <nz-divider style="margin: 1.25rem 0"></nz-divider>
        <ng-component *ngTemplateOutlet="linkItem; context: { $implicit: settingsLink }"></ng-component>
    </ul>
    <ul class="nav-links logout-btn">
        <li>
            <span class="nav-icon">
                <app-icon name="logout"></app-icon>
            </span>
            <a (click)="handleLogout()">{{ "navbar.links.logout" | translate }}</a>
        </li>
    </ul>
</div>

<ng-template #linkItem let-link>
    <li routerLinkActive="active">
        <span class="nav-icon">
            <app-icon [name]="link.icon"></app-icon>
        </span>
        <a [routerLink]="link.link">{{ link.label | translate }}</a>
    </li>
</ng-template>
