@use "src/globals/variables" as vars;

.nav {
    &-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-logo {
        height: 90px;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    &-icon {
        font-size: 1.5rem;
    }

    &-links {
        line-height: normal;
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-decoration: none;

        &.logout-btn {
            margin: auto 0 30px;
        }

        li {
            display: flex;
            align-items: center;
            height: 4rem;
            position: relative;
            padding-left: 2rem;

            &.active {
                color: vars.$primary_color;
                background: vars.$hover_gradient;

                &::before {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 4px;
                    background-color: vars.$primary_color;
                    content: "";
                }
            }

            span {
                display: inline-block;
                margin-right: 1rem;
                font-size: 1.5rem;
                height: 1.5rem;
            }

            &:hover {
                background: vars.$hover_gradient;
                cursor: pointer;
                color: vars.$primary_color;
            }

            a {
                text-decoration: inherit;
                color: inherit;

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: transparent;
                    content: "";
                }
            }
        }
    }
}
