@use "src/globals" as vars;

.auth-form {
    background-color: vars.$white;
    padding: 50px;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
    border-radius: vars.$base_border_radius;
    width: 422px;

    &-container {
        display: flex;
        justify-content: center;
    }

    &-logo {
        display: block;
    }

    &-btn {
        width: 100%;
        height: 46px;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        h2 {
            font-size: 28px;
            line-height: 1;
            margin: 0;
        }
    }
}
