<div class="auth-form-container">
    <img alt="logo" class="auth-form-logo" src="assets/images/login-page-logo.png" />
    <form nzLayout="vertical" nz-form [formGroup]="loginForm" class="auth-form" (ngSubmit)="submitForm()">
        <div class="auth-form-header">
            <h2 nz-typography>{{ "auth.login" | translate }}</h2>
        </div>
        <nz-form-item>
            <nz-form-control [nzDisableAutoTips]="true" [nzErrorTip]="errors">
                <input
                    nz-input
                    type="email"
                    id="email"
                    formControlName="email"
                    class="app-input"
                    [placeholder]="'inputs.email' | translate"
                />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzErrorTip]="errors">
                <input
                    nz-input
                    type="password"
                    id="password"
                    formControlName="password"
                    class="app-input"
                    [placeholder]="'inputs.password' | translate"
                />
            </nz-form-control>
        </nz-form-item>
        <button
            nz-button
            nzSize="large"
            class="auth-form-btn"
            nzType="primary"
            [nzLoading]="loading$ | async"
            [disabled]="loginForm.invalid"
        >
            {{ "auth.to-login" | translate }}
        </button>
    </form>
</div>
<ng-template #errors let-control>
    <app-validation-errors-renderer [control]="control"></app-validation-errors-renderer>
</ng-template>
