<nz-flex nzJustify="space-between">
    <nz-flex nzGap="middle" nzAlign="center">
        <span>{{ "common.sort-by" | translate }}:</span>
        <nz-select
            [ngModel]="sortOption$ | async"
            (ngModelChange)="handleSortValueChange($event)"
            style="width: 260px"
            nzSize="large"
        >
            @for (option of selectOptions; track option.value) {
                <nz-option [nzValue]="option.value" [nzLabel]="option.label | translate"></nz-option>
            }
        </nz-select>
    </nz-flex>
    <button nzSize="large" (click)="handleTaskCreateClick()" nz-button nzType="primary">
        {{ "tasks.create-task" | translate }}
    </button>
</nz-flex>
