<nz-header>
    <div class="app-header">
        <div class="app-header-content">
            <p>Page title</p>
            <div class="user-info" *ngIf="user$ | async as user">
                <img ngSrc="assets/images/{{ user.avatar }}.png" alt="user-photo" width="46" height="46" />
                <span>{{ user.displayName }}</span>
            </div>
        </div>
        <app-header-plugins></app-header-plugins>
    </div>
</nz-header>
