@use "src/globals/variables" as vars;

.app-header {
    position: relative;
    padding: 1.5rem 1.5rem 0.625rem;

    &-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.25rem;
    }

    p {
        font-size: 1.75rem;
        font-weight: 600;
        margin: 0;
    }

    .user-info {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
            margin-right: 10px;
        }
        span {
            font-size: 1.25rem;
        }
    }
}

nz-header {
    padding: 0;
    width: 100%;
    z-index: 2;
    height: unset;
    line-height: unset;
    background: vars.$white;
}
