<nz-flex nzJustify="space-between">
    <nz-flex nzGap="middle">
        <nz-date-picker nzSize="large"></nz-date-picker>
        <nz-radio-group nzSize="large" [ngModel]="'A'" nzButtonStyle="solid">
            <label nz-radio-button nzValue="A">Day</label>
            <label nz-radio-button nzValue="B">Week</label>
            <label nz-radio-button nzValue="C">Month</label>
            <label nz-radio-button nzValue="D">Year</label>
        </nz-radio-group>
    </nz-flex>
    <button nzSize="large" nz-button nzType="primary">{{ "calendar.create-event" | translate }}</button>
</nz-flex>
