<nz-table
    class="tasks-table"
    #table
    [nzData]="(tasks$ | async) || []"
    [nzLoading]="tasksLoading$ | async"
    [nzPageSize]="pageSize"
    [nzShowTotal]="totalItems"
    [(nzPageIndex)]="currentPage"
>
    <thead>
        <tr>
            <th>{{ "tasks.table.date" | translate | uppercase }}</th>
            <th>{{ "tasks.table.assignee" | translate | uppercase }}</th>
            <th>{{ "tasks.table.priority" | translate | uppercase }}</th>
            <th>{{ "tasks.table.title" | translate | uppercase }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data; index as i" (click)="handleRowClick(data)">
            <td>{{ formatDate(data.date) }}</td>
            <td>
                <img
                    width="34"
                    height="34"
                    [ngSrc]="'assets/images/' + data.user.avatar + '.png'"
                    alt="user avatar"
                />
                {{ data.user.displayName }}
            </td>
            <td>
                <app-priority-tag [priority]="data.priority"></app-priority-tag>
            </td>
            <td nzEllipsis>{{ data.title }}</td>
            <td>
                <button
                    (click)="handleTaskDelete($event, i)"
                    class="tasks-table-delete-btn"
                    nz-button
                    nzSize="large"
                    nzType="text"
                >
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>

<ng-template #totalItems let-total>
    {{ pageSize }} {{ "common.out-of" | translate }} {{ total }}
</ng-template>
