@use "src/globals/variables" as vars;

.tasks-table {
    th {
        font-weight: normal;
    }

    tbody tr {
        &:hover {
            cursor: pointer;
            background: vars.$hover_gradient;
        }
    }
    &-delete-btn {
        color: vars.$primary_gray;
    }
}

.ant-table-tbody > tr.ant-table-row:hover > td {
    background: none !important;
}
