@use "src/globals" as vars;

:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-layout {
    height: 100vh;
    background: vars.$bg_color;
}

.menu-sidebar {
    background: vars.$white;
    z-index: 10;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);

    .ant-menu {
        background: unset;
    }
}

nz-content {
    position: relative;
}
.inner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 30px;
    padding: 20px 30px;
    background: vars.$white;
    border-radius: vars.$base_border_radius;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
}
