<ng-container *ngIf="isAuthModule$ | async; else mainLayout">
    <nz-layout class="app-layout">
        <app-authorization-layout></app-authorization-layout>
    </nz-layout>
</ng-container>
<ng-template #mainLayout>
    <nz-layout class="app-layout">
        <nz-sider class="menu-sidebar" nzCollapsible nzBreakpoint="md" [nzTrigger]="null" [nzWidth]="300">
            <app-navbar></app-navbar>
        </nz-sider>
        <nz-layout>
            <app-header></app-header>
            <nz-content>
                <div class="inner-content">
                    <router-outlet></router-outlet>
                </div>
            </nz-content>
        </nz-layout>
    </nz-layout>
</ng-template>
