@use "src/globals/variables" as vars;

body {
    color: vars.$black;
}

* {
    font-family: -apple-system, "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.align-self-center {
    align-self: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.app-input {
    border-radius: vars.$base_border_radius;
    font-size: 1rem;

    &:focus {
        box-shadow: 0 0 0 1px vars.$primary_color;
    }

    &.ant-input-status-error:focus {
        box-shadow: 0 0 0 1px red !important;
    }
}

.app-label {
    label.ant-form-item-required {
        &::before {
            display: none!important;
            content: ''!important;
        }

        &::after {
            display: inline-block;
            content: '*';
            color: vars.$primary_color;
        }
    }
}
