// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #2b53e1;
@height-lg: 46px;
@border-radius-base: 10px;
@font-size-base: 16px;
@layout-body-background: #f8f8f8;
@label-required-color: @primary-color;

@table-header-bg: #ffffff;
@table-header-cell-split-color: #00000000;
@table-padding-vertical: 20px;

@modal-header-title-font-size: 28px;
@modal-header-border-width: 0;
@modal-close-color: #AFB2BE;
@modal-header-padding: 30px 50px 20px;
@modal-body-padding: 0 50px 50px;

@btn-padding-horizontal-lg: 30px;
@btn-disable-border: transparent;
@btn-border-width: 2px;
@btn-default-border: @primary-color;

@input-height-base: 50px;
@input-padding-horizontal-base: 20px;
@input-padding-horizontal-lg: @input-padding-horizontal-base;

@select-single-item-height-lg: @height-lg;
