<ng-container [ngSwitch]="getErrorType()">
    <ng-container *ngSwitchCase="'required'">
        {{ "validation-errors.required" | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'minlength'">
        {{
            "validation-errors.minlength"
                | translate: { length: control.errors?.["minlength"].requiredLength }
        }}
    </ng-container>
    <ng-container *ngSwitchCase="'maxlength'">
        {{
            "validation-errors.maxlength"
                | translate: { length: control.errors?.["maxlength"].requiredLength }
        }}
    </ng-container>
    <ng-container *ngSwitchCase="'phone'">
        {{ "validation-errors.phone" | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'repeat-password'">
        {{ "validation-errors.repeat-password" | translate }}
    </ng-container>
    <ng-container *ngSwitchCase="'email'">
        {{ "validation-errors.email" | translate }}
    </ng-container>
</ng-container>
